@font-face {
  font-family: 'UD';
  src: local('UD'), url('../../assets/fonts/UDDigiKyokashoN-B-01.ttf') format('truetype'),
  url('../../assets/fonts/UDDigiKyokashoNP-B-02.ttf') format('truetype'),
  url('../../assets/fonts/UDDigiKyokashoNK-B-03.ttf') format('truetype');
}

@font-face {
  font-family: 'AgencyB';
  src: url('../../assets/fonts/AGENCYB.ttf');
}

