{
  "NESTJS_DATA_CONNECTION_REQUEST_CONTROL_MANAGER_HOST": "http://localhost",
  "NESTJS_DATA_CONNECTION_REQUEST_CONTROL_MANAGER_PORT": "3001",
  "CACHE_DATABASE_VERSION": 1,
  "DATA_PLATFORM_REQUEST_READS_CACHE_MANAGER_HOST": "http://00.000.000.000",
  "DATA_PLATFORM_REQUEST_READS_CACHE_MANAGER_PORT": "8000",
}
