{
  "NESTJS_DATA_CONNECTION_REQUEST_CONTROL_MANAGER_HOST": "http://localhost",
  "NESTJS_DATA_CONNECTION_REQUEST_CONTROL_MANAGER_PORT": "5000",
  "CACHE_DATABASE_VERSION": 1,
  "DATA_PLATFORM_REQUEST_READS_CACHE_MANAGER_HOST": "http://localhost",
  "DATA_PLATFORM_REQUEST_READS_CACHE_MANAGER_PORT": "5000",
  "DATA_PLATFORM_REQUEST_UPDATE_CACHE_MANAGER_HOST": "http://localhost",
  "DATA_PLATFORM_REQUEST_UPDATE_CACHE_MANAGER_PORT": "5000"
}
